<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form method="POST" action="/piglatinize">
    <p>Enter your phrase:<p><br>
    <textarea name="text"></textarea><br>
    <input type ="submit" name="submit">
  </form>
  </body>
</html>
